/*
 * blue & orange
 */
a:link    { color: #009; }
a:visited { color: #66a; }
a:hover   { color: #00a; background-color: #fe9; }
a:active  { color: #f00; }
b  { color: #ea0; font-weight: bold; } em { color: #ea0; font-weight: bold; font-style: normal; }
tt { color: #5a5; font-weight: bold; font-style: normal; }
address { border-top: 1px solid #669; }
#title {
  color: white;
  background-color: #559;
  background-image: url(../images/sky2.jpg);
}
h1 { border-color: white; }
h2, h3, h4 { color: #669; border-color: #669; }
body { background-color: white; }
div.main { background-color: #eee; } 

/* overwrite */
div.navbar {
  line-height:140%;
  /*
  background-color: white;
  border-color: #669;
  */
  background-color: #669;
  border-color: white;
  padding: 0px;
  border-width: 2.5px;
}
div.navbar p { border-color: white; border-width: 2.5px; }
div.navbar p.title { color: white; }
div.navbar p a:link    { color: white; }
div.navbar p a:visited { color: #eee; }
div.navbar p a:hover   { color: #669; background-color: white; }
