/*
	Cell Challenge 2009   Style Sheet
*/

/* --------------------------------------------------
        contents frame 
-------------------------------------------------- */

body { 
    font-family: Meiryo, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #ffffef;
}

frameset { 
    background-image: url(../img/bg.jpg);
}

p { 
    text-indent: 1em;
    line-height: 20px;
}

a { 
    color: #366;
/*  color: #930; */
}

ul { 
    line-height: 150%;
}

body.contents {
/*  background-color: #fff; */
    background-image: url(../img/cell2009web_05.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 20pt;
}

body.contents a:hover {
    color: #930;
    background-color: #ffc;
}

body.contents h1 {
    font-size: 18px;
    letter-spacing: 0.5em;
    background-color: #ffdd99;
    color: #630;
    padding-left: 1em;
}

body.contents h2 {
    font-size: 14px;
    margin: 30pt 10pt 10pt 0pt;;
    background-color: #fefffe;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: #fc9;
    padding-left: 0.5em;
    padding-bottom: 0px;
}

body.contents h3 {
    font-size: normal;
    margin: 14pt;
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    border-color: #ff9;
    padding-left: 0.5em;
}

body.contents img { 
    margin: 15pt;
    border-style: none;
}

body.contents table.sponsor { 
    width: 60em;
    font-size: 11px;
}

body.contents table.sponsor a { 
    text-decoration: none;
    color: #000;
}

body.contents table.sponsor th { 
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    color: #630;
    border-style: solid;
    border-color: #630;
    border-width: 0px 0px 2px 0px;
    margin: 10px;
}

body.contents table.sponsor td { 
    background-color: #fff;
    padding: 0px 10pt 0px 10pt;
    vertical-align: top;
}

body.contents table.sponsor td ul {
    list-style: none;
    padding-left: 0px;
}

body.contents table.sponsor td ul li {
    padding-left: 0px;
}

/* --------------------------------------------------
        banner frame 
-------------------------------------------------- */

body.banner {
    height: 120px;
/*  background-color: #ffffff; */
    background-image: url(../img/cell2009web_01.png);
    background-repeat: no-repeat;
    background-position: top left;
    color: #000;
    margin: 0px;
    overflow-y: hidden;
}

body.banner h1 {
    font-size: 40px;
    text-align: center;
    font-family: arial;
    margin-top: 0px;
    padding: 10px;
}

body.banner h2 {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 0px;
    margin: 0px;
    letter-spacing: 0.2em;
}

/* --------------------------------------------------
        menu frame 
-------------------------------------------------- */

body.menu {
    font-size: 15px;
    font-weight: bold;
/*  background-color: #ffffff; */
    color: #000;
    background-image: url(../img/cell2009web_02.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left;
}

body.menu ul {
    line-height: 28px;
    list-style: none;
    vertical-align: middle;
    letter-spacing: 0.2em;
    margin-left: 10pt;
    margin-top: 20pt;
    padding-left: 0pt;
}

body.menu ul li {
    margin-left: 0px;
    padding-left: 0px;
    display: block;
}

body.menu ul li a {
    text-decoration: none;
/*  color: #033; */
    color: #fff;
    width: 120px;
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 10px;
    margin: 0px;
    display: block;
}

body.menu ul li a:hover {
    color: #930;
    background-image: url(../img/menu_active.png);
}

body.menu ul li a.notyet {
    color: #666;
    background-image: url(../img/menu_ny.png);
    text-decoration: line-through;
}

body.menu hr {
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
}

/* --------------------------------------------------
	date list 
-------------------------------------------------- */

dl.date dt {
    font-weight: bold;
    position: relative;
    z-index: 2;
    display: inline;
/*  background-color: #cff; */
    background-color: #fd9;
/*  color: #066; */
    color: #630;
    border-style: outset;
    border-width: 2px;
/*  border-color: #cff; */
    border-color: #fd9;
    margin-left: 10pt;
    padding: 0px;
    padding-left: 5pt;
    padding-right: 5pt;
}

dl.date dd {
/*  background-color: #eeffff; */
    background-color: #ffffff;
    color: #000;
    border-style: solid;
    border-width: 1px;
/*  border-color: #cff; */
    border-color: #fd9;
    margin-left: 5em;
    margin-right: 10pt;
    margin-top: -10pt;
    margin-bottom: 10pt;
    padding: 5pt;
    padding-top: 5pt;
    padding-left: 5em;
}

dl.date dt.done {
    border-color: #ddd;
    background-color: #eee;
    color: #666;
}

dl.date dd.done { 
    border-color: #ddd;
    background-color: #eee;
    color: #666;
}

dl.date dt.important {
    border-color: #ddd;
    background-color: #f6bfbc;
    color: #c53d43;
}

dl.date dd.important { 
    border-color: #ddd;
    background-color: #fef4f4;
    color: #000;
}

dl.date dd.important a { 
    color: #8f2e14;
}


/* --------------------------------------------------
	committee table
-------------------------------------------------- */

table.committee { 
    font-size: 12px;
    background-color: #ddd;
    margin-left: 20pt;
    width: 40em;
    border-collapse: collapse;
}

table.committee tr { 
    background-color: #fcfcfc;
}

table.committee tr.even { 
    background-color: #f3f0f0;
}

table.committee th { 
    background-color: #666;
    color: #fff;
    text-align: left;
    padding-left: 0.5em;
}

table.committee th.title { 
    width: 8em;
}

table.committee th.name { 
    width: 6em;
}

table.committee th.office { 
    width: 25em;
}

table.committee td { 
    padding-left: 0.5em;
}


/* --------------------------------------------------
	mail format (memo-like)
-------------------------------------------------- */

pre.mailformat {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #99c;
    margin-left: 20pt;
    padding: 5pt;
    padding-top: 0px;
    width: 40em;
    line-height: 20px;
    background-image: url(../img/notebg20.png);
    background-repeat: repeat;
    font-size: 12px;
}


/* --------------------------------------------------
	link w/ icon
-------------------------------------------------- */

a.pdf {
    background-image: url(../img/pdf.png);
    background-position: 4px center;
    background-repeat: no-repeat;
    padding-left: 21px;
    text-decoration: none;
}

a.feed {
    background-image: url(../img/feed-icon-14x14.png);
    background-position: 4px center;
    background-repeat: no-repeat;
    padding-left: 20px;
    text-decoration: none;
    color: #c63;
    font-weight: bold;
}




hr.footer {
    border-width: 6px;
    border-style: solid;
/*  border-color: #c5e9e1; */
    border-color: #38b48b;
}

/* --------------------------------------------------
	faq list 
-------------------------------------------------- */

dl.faq dt {
    font-weight: bold;
    position: relative;
    z-index: 2;
    display: inline;
/*  background-color: #cff; */
    background-color: #fd9;
/*  color: #066; */
    color: #630;
    border-style: outset;
    border-width: 2px;
/*  border-color: #cff; */
    border-color: #fd9;
    margin-left: 10pt;
    padding: 0px;
    padding-left: 5pt;
    padding-right: 5pt;
}

dl.faq dd {
/*  background-color: #eeffff; */
    background-color: #ffffff;
    color: #000;
    border-style: solid;
    border-width: 1px;
/*  border-color: #cff; */
    border-color: #fd9;
    margin-left: 2em;
    margin-right: 10pt;
    margin-top: -10pt;
    margin-bottom: 10pt;
    padding: 5pt;
    padding-top: 15pt;
}

/* --------------------------------------------------
	attention box
-------------------------------------------------- */

div.attention {
    font-weight: bold;
}

div.attention a { 
    text-decoration: none;
    text-align: center;
    color: #633;
    display: block;
    border-style: solid;
    border-color: #fa0;
    border-width: 2px;
    background-color: #ffc;
    padding: 3pt;
    font-size: large;
    margin-left: 20pt;
    margin-right: 20pt;
}

div.attention a:hover {
    color: #fff;
    background-color: #fa0;
}

div.attention a span.hidden { 
    color: #ffc;
}

div.attention a:hover span.hidden { 
    color: #fff;
}

dl.attention dt {
    font-weight: bold;
    position: relative;
    z-index: 2;
    display: inline;
    background-color: #f6bfbc;
    color: #c53d43;
    border-style: outset;
    border-width: 2px;
    border-color: #ddd;
    margin-left: 10pt;
    padding: 0px;
    padding-left: 5pt;
    padding-right: 5pt;
}

dl.attention dd {
    background-color: #fef4f4;
    color: #000;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    margin-left: 3em;
    margin-right: 10pt;
    margin-top: -10pt;
    margin-bottom: 10pt;
    padding: 5pt;
    padding-top: 5pt;
    padding-left: 3em;
}

dl.attention strong { 
    color: #600;
}


strong {
    color: #900;
}


/* --------------------------------------------------
	mail now!
-------------------------------------------------- */

div.mailnow {
    font-weight: bold;
}

div.mailnow a { 
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
/*  float: left; */
/*  text-align: center; */
    color: #633;
    display: block;
    border-style: none;
    border-color: #f00;
    border-width: 2px;
/*  background-color: #fcc; */
    background-image: url(/sacsis/2009/cell/img/longbutton.png);
    background-repeat: no-repeat;
    padding-top: 8px;
    font-size: normal;
    width: 387px;
    height: 38px;
    margin-left: 40pt;
}

div.mailnow a span.hidden {
    color: transparent;
}

div.mailnow a:hover {
    color: #fff;
/*  background-color: #fa0; */
    background-color: transparent;
    background-image: url(/sacsis/2009/cell/img/longbutton_hover.png);
    background-repeat: no-repeat;
}

div.mailnow a:hover span.hidden {
    color: #fff;
}


/* --------------------------------------------------
	prize
-------------------------------------------------- */

dl.prize { 
    font-size: 120%;
    line-height: 200%;
}

dl.prize dt {
    position: relative;
    z-index: 2;
    border-color: #fff;
    border-style: outset;
    font-weight: bold;
    margin-right: 20%;
    padding-left: 0.5em;
}

dl.prize dt.gold {
    background-color: #ffd700;
}

dl.prize dt.silver {
    background-color: #c0c0c0;
}

dl.prize dt.bronze {
/*    background-color: #88592a; */
    background-color: #b8860b;
}

dl.prize dd { 
    position: relative;
    z-index: 0;
    font-weight: bold;
    margin-bottom: 1em;
    border: solid 1px #ccf;
    margin-top: -10pt;
    padding-top: 10pt;
}

/* --------------------------------------------------
	outputs table
-------------------------------------------------- */

table.outputs{ 
    border-width: 1px;
    border-style: none;
    width: 100%;
}

table.outputs td { 
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #c5e9e1;
    border-color: #ffd700;
    background-color: #fffbde;
    padding: 2pt;
}

table.outputs th { 
    background-color: #c5e9e1;
    padding: 2pt;
}

table.outputs th.prize {
    width: 6em;
}

table.outputs th.team {
    width: 13em;
}

table.outputs th.source {
    width: 7em;
}

table.outputs td.document {
    text-align: left;
}

/* --------------------------------------------------
        command shell box
-------------------------------------------------- */

pre.command {
    color: #fff;
    background-color: #333;
    border-style: solid;
    border-width: 1px;
    border-color: #ccf;
    margin-left: 20pt;
    padding: 5pt;
    width: 40em;
}

pre.command span.command { 
    color: #9ff;
    font-weight: bold;
}

pre.command span.info { 
    color: #fd9;
    font-weight: bold;
}

/* --------------------------------------------------
        toolkit manifest
-------------------------------------------------- */

a.download { 
    border-style: solid;
    border-color: #fa0;
    border-width: 2px;
    background-color: #ffc;
    display: inline-block;
    color: #900;
    font-weight: bold;
    text-decoration: none;
}

a.download:hover { 
    border-style: outset;
}

a.download:active {
    border-style: inset;
}

dl.manifest { 
    margin-left: 20pt;
}

dl.manifest dt { 
    color: #009;
    margin-top: 5pt;
    font-weight: bold;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #99f;
}

dl.manifest dt.nomodify {
    color: #900;
    border-color: #f99;
}



dl.problem dt {
    color: #933;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 10pt;
}